body {
    background: linear-gradient(to bottom left, #2fbbb2, #2357bc, #4c489c );
    margin: 10%;
}

.title-line h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: clamp(36px, 8vw, 72px); 
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.motto {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 2px #000000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
 
.info-rows {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    ;
}

.image-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid white;
}

.value {
    font-weight: bold;
    color: #ffffff;; 
}
@media (max-width: 768px) {
    body {
        margin: 5%; 
    }

    .title-line h1 {
       
    }

    .motto {
        font-size: 18px; 
    }
}

.titles {
    font-family: 'Arial Black', sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #000000;
}
